.layouts
	+adaptive-value('padding-top', 200, 60, 1)
	+adaptive-value('padding-bottom', 120, 60, 1)
	position: relative
	z-index: 1
	&:after
		content: ''
		position: absolute
		top: 0
		right: 0
		width: 375px
		height: 350px
		background: url($img+'layouts/leaf.webp') center center/cover no-repeat
		z-index: -1
		+lg-block
			display: none

	&__header
		.title
			margin-top: -50px
			+sm-block
				margin-top: 30px
		.title-black
			margin-left: 350px
			+lg-block
				margin-left: 300px
			+sm-block
				margin-left: 0
		.title-red
			max-width: 970px
		p
			color: #525252
			+adaptive-value('font-size', 30, 18, 1)
			line-height: 1.5
			max-width: 1020px
			margin-left: 350px
			+lg-block
				margin-left: 300px
				margin-top: 30px
			+md-block
				margin-left: 0
				margin-top: 40px
			+sm-block
				margin-top: 20px

	&__content
		+adaptive-value('margin-top', 80, 45, 1)

	&__items
		+row-flex
		+xsm-block
			margin-top: 20px

	&_item
		+col
		+size(3)
		+size-lg(4)
		+size-md(6)
		+size-xsm(12)
		border: 1px solid #C6C6C6
		border-radius: 10px
		padding: 30px 40px
		text-align: center
		margin-top: 50px
		+lg-block
			padding: 30px 35px
		+sm-block
			margin-top: 25px
		+xsm-block
			margin-top: 0
		&__title
			color: #7c7c7c
			font-size: 18px
		&__size
			font-size: 26px
			font-family: $bold
			margin-top: 10px
		&__btn
			color: $orange
			text-transform: uppercase
			font-family: $bold
			font-size: 18px
			border: 2px solid #FF4538
			border-radius: 6px
			height: 56px
			width: 100%
			margin-top: 20px


.tabs
	display: flex
	align-items: center
	border-radius: 71px 71px 4px 4px
	border: 1px solid $orange
	overflow: hidden
	+sm-block
		flex-direction: column
		border: none
		border-radius: 40px 40px 4px 4px

.tab
	+adaptive-value('font-size', 22, 18, 1)
	width: calc(100% / 3)
	text-align: center
	cursor: pointer
	padding: 15px 0
	+sm-block
		width: 100%
		border: 1px solid $orange
		margin-bottom: 7px
	&:first-of-type
		border-right: 1px solid $orange
	&:last-of-type
		border-left: 1px solid $orange
	&.active
		font-family: $bold
		color: #fff
		background-color: $orange
