mixin advantages()
	+b.SECTION.advantages
		.container
			+e.header
				header
					.title-info
						.title-number 03
						.title-dash
						.title-text Преимущества
					h2.title
						span.title-black Квартиры, где
						span.title-green Комфорт подстраивается под вас
				p Наслаждайтесь видом из витражных балконов, устраивайте уютные посиделки на изолированной кухне или отдыхайте после тяжелого дня в просторной спальне - в ЖК KERIM 2 возможно все.

			+e.items
				+e.item
					img(src="img/advantages/img_1.webp", alt="Advantages image")
					span Безшумные<br>лифты
				+e.item
					img(src="img/advantages/img_2.webp", alt="Advantages image")
					span Витражные<br>балконы
				+e.item
					img(src="img/advantages/img_3.webp", alt="Advantages image")
					span Возможность<br>объединения
				+e.item
					img(src="img/advantages/img_4.webp", alt="Advantages image")
					span Улучшенная<br>черновая отделка
				+e.item
					img(src="img/advantages/img_5.webp", alt="Advantages image")
					span Продуманные<br>планировки
