mixin gallery()
	+b.SECTION.gallery
		.container
			.gallery-container
				a(href="img/layouts/1/1-1544.png")
					img(src="img/layouts/1/1-1544.png", alt="First image")
			.gallery-container
				a(href="img/layouts/1/1-1544.png")
					img(src="img/layouts/1/1-1544.png", alt="First image")

				//- a(href="img/layouts/1/1-1544.png")
				//- 	img(src="img/layouts/1/1-1544.png", alt="Second image")

				//- a(href="img/layouts/1/1-1544.png")
				//- 	img(src="img/layouts/1/1-1544.png", alt="First image")