mixin layouts()
	+b.SECTION.layouts
		.container

			+e.header
				header
					.title-info
						.title-number 04
						.title-dash
						.title-text Планировки
					h2.title
						span.title-black у нас найдутся
						span.title-red планировки на любой вкус
				p Холостяцкая берлога или просторная квартира для семьи с детьми - у нас найдутся планировки на любой вкус.