mixin layouts()
	+b.SECTION.layouts#layouts
		.container

			//- Header
			+e.header
				header
					.title-info
						.title-number 04
						.title-dash
						.title-text Планировки
					h2.title
						span.title-black у нас найдутся
						span.title-red планировки на любой вкус
				p Холостяцкая берлога или просторная квартира для семьи с детьми - у нас найдутся планировки на любой вкус.

			//- Content
			+e.content
				ul.tabs#js-tabs
					li.tab.active 1-комнатные
					li.tab 2-комнатные
					li.tab 3-комнатные

				//- ITEMS MOBILE
				+e.items_mobile.swiper
					.swiper-wrapper#js-cards
						+b.layouts_item.swiper-slide
							+e.img
								img(src="#", alt="flat")
							+e.descr
								+e.title Площадь
								+e.size 176,96 м²
							+e.BUTTON.btn(data-hystmodal="#myModal") Оставить заявку

					.navigation
						.swiper-buttons
							.swiper-prev
							.swiper-pagination
							.swiper-next

				//- ITEMS DESKTOP
				+e.items_desktop#js-cards2
					+b.layouts_item.swiper-slide
						+e.img
							img(src="#", alt="flat")
						+e.descr
							+e.title Площадь
							+e.size 176,96 м²
						+e.BUTTON.btn(data-hystmodal="#myModal") Оставить заявку



