mixin materials()
	+b.SECTION.materials
		.container
			+e.header
				header
					.title-info
						.title-number 06
						.title-dash
						.title-text Материалы
					h2.title
						span.title-black Надежен,
						span.title-green как ни крути
			+e.text
				p При возведении ЖК используются материалы высокого качества, что гарантирует надежность и эстетику на долгие годы.
			+e.img_desktop
				+e.img
					img(src="img/materials/bg.webp", alt="image")
					+b.tooltips
						+e.one
							+e.IMG(src="img/materials/1.webp").tooltip
								span.tooltip_icon +
								span Фасад
							+e.hover Декоративная штукатурка
						+e.two
							+e.text.tooltip Основание
							+e.hover Железобетонный монолит
						+e.three
							+e.text.tooltip Облицовка
							+e.hover Натуральный камень
						+e.four
							+e.text.tooltip Окна
							+e.hover Алюминиевый профиль
				//- p Text
				//- p Text
				//- p Text
				//- p Text
			+e.img_mobile
				img(src="img/materials/bg_m.webp", alt="image")