mixin materials()
	+b.SECTION.materials
		.container
			+e.header
				header
					.title-info
						.title-number 06
						.title-dash
						.title-text Материалы
					h2.title
						span.title-black Надежен,
						span.title-green как ни крути
			+e.text
				p При возведении ЖК используются материалы высокого качества, что гарантирует надежность и эстетику на долгие годы.
			+e.img_desktop
				+e.img
					img(src="img/materials/bg.webp", alt="image")
					+b.tooltips
						+e.one
							+e.IMG(src="img/materials/1.webp").img
							//- .text Фасад
							+e.hover Декоративная штукатурка
						+e.two
							+e.IMG(src="img/materials/2.webp").img
							+e.hover Железобетонный монолит
						+e.three
							+e.IMG(src="img/materials/3.webp").img
							+e.hover Натуральный камень
						+e.four
							+e.IMG(src="img/materials/4.webp").img
							+e.hover Алюминиевый профиль
			+e.img_mobile
				img(src="img/materials/bg_m.webp", alt="image")
				+b.tooltips
					+e.one
						+e.IMG(src="img/materials/1.webp").img
						//- .text.tooltip_one Фасад
						+e.hover.mob Декоративная штукатурка
						//- .hover Декоративная штукатурка
					+e.two
						+e.IMG(src="img/materials/2.webp").img
						+e.hover.mob Железобетонный монолит
					+e.three
						+e.IMG(src="img/materials/3.webp").img
						+e.hover.mob Натуральный камень
					+e.four
						+e.IMG(src="img/materials/4.webp").img
						+e.hover.mob Алюминиевый профиль