mixin opportunity()
	+b.SECTION.opportunity#opportunity
		.container

			+e.header
				header
					.title-info
						.title-number 02
						.title-dash
						.title-text Возможности
					h2.title
						span.title-black ЖК KERIM 2
						span.title-blue воплощает ваши желания в жизнь!

			+e.items
				+e.item
					+e.IMG(src="img/opportunity/img_1.webp", alt="image").img_desktop
					+e.IMG(src="img/opportunity/img_1_m.webp", alt="image").img_mobile
					+e.title Для взрослых
					+e.P.text Зоны workout и футбольное поле с мини-баскетболом позволяют вести тот самый здоровый образ жизни, который вы постоянно откладываете.
				+e.item
					+e.IMG(src="img/opportunity/img_2.webp", alt="image").img_desktop
					+e.IMG(src="img/opportunity/img_2_m.webp", alt="image").img_mobile
					+e.title Для детей
					+e.P.text Ваши карапузы точно оценят двор в вашем новом доме! Ведь здесь есть большая детская площадка с качелями, горками и целыми игровыми комплексами. Покрытие детской площадки прорезиненное и безопасно для детей.
				+e.item
					+e.IMG(src="img/opportunity/img_3.webp", alt="image").img_desktop
					+e.IMG(src="img/opportunity/img_3_m.webp", alt="image").img_mobile
					+e.title Коммерция
					+e.P.text Мы расположили на территории комплекса коммерческие помещения с витражными входными группами. И скоро здесь откроют свои двери супермаркеты, прачечные, бутики и многое другое.
				+e.item
					+e.IMG(src="img/opportunity/img_4.webp", alt="image").img_desktop
					+e.IMG(src="img/opportunity/img_4_m.webp", alt="image").img_mobile
					+e.title Безопасность
					+e.P.text Комплекс огорожен и попасть на его территорию можете только вы и ваши гости. Спокойствие за детей и имущество - вот философия вашего нового дома.
				+e.item
					+e.IMG(src="img/opportunity/img_5.webp", alt="image").img_desktop
					+e.IMG(src="img/opportunity/img_5_m.webp", alt="image").img_mobile
					+e.title паркинг
					+e.P.text В ЖК KERIM 2 мы позаботились даже об автомобилях ваших гостей. Здесь предусмотрен подземный паркинг для жильцов и наземный гостевой. Двор жилого комплекса закрыт от машин.
