extends template

include index/about
include index/opportunity
include index/advantages
include index/layouts
include index/location
include index/materials
include index/prices

include components/modals

block head
	head
		+head({
			"title": "Жилой комплек KERIM комфорт класса 2",
			"author": "Kerim",
			"description": "Жилой комплек KERIM комфорт класса 2. Квартиры с продуманными планировками от 34 м2"
		})

block content
	+about()
	+opportunity()
	+advantages()
	+layouts()
	+location()
	+materials()
	+prices()

	+modals()



