//-------------------- COLORS -------------------->
$dark: #000
$orange: #FF4538
$blue: #0096FA
$green: #00DBCC

//-------------------- FONTS -------------------->
$main_font_regular: 'PTSans'
// $second_font_regular: ''


//-------------------- PATHS -------------------->
$img: '../img/'
$fonts: 'fonts/'
